<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cypher Marketing</title>
    
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    
</head>
<body>
    <div id="wrapper">
         @Html.Partial("Nav")
        <!-- Begin Page Wrapper -->
        <div id="page-wrapper">

            @if(TempData["Status"] != null)
            {
                <div class="alert-info alert">@TempData["Status"]</div>
            }
            @RenderBody()
        </div>
        <!-- End Page Wrapper -->
    </div>
   
</body>
</html>
