@model CypherMVC.Models.ReplyVM

<div class="row">
    <div class="col-lg-8">
        <h2>Reply To: @Model.Subject</h2>

        @foreach (var message in Model.Messages)
        {
            <div class="thread-item">
                <p>@message.Author</p>
                <p>@message.Content</p>
                <p>@message.Created</p>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Reply", "Messages"))
        {
            <div class="form-group">
                @Html.LabelFor(x => x.Content, "Reply")
                @Html.TextAreaFor(x => x.Content, new { @class = "form-control", rows = 10 })
            </div>
            <div class="form-group">
                <input class="btn btn-primary pull-right" type="submit" text="Submit">
             </div>
         }               
         </div>
</div>