@model List<CypherMVC.Models.Message>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <small>Listed below are feedback messages we have received from customers.</small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var message in Model)
                {
                    <tr>
                        <td>@message.Subject</td>
                        <td>@message.Content</td>
                        <td>@message.Author</td>
                        <td>@message.Created</td>
                        <td>@Html.ActionLink("Reply","Reply","Messages",new { Id = message.MessageThreadId}, new { @class = "btn btn-primary" })</td>
                    </tr>
                }                       
            </tbody>
        </table>
    </div>
</div>